@mixin card-style {
    .container {
        .bold {
            font-weight: 700;
        }

        .card {
            height: 320px;
            width: 213.11px;


            .d-none {
                overflow: hidden;
                display: none;
            }

            &:hover {
                .img-wrapper {
                    display: none;
                    overflow: hidden;

                }

                .info.d-none {
                    // margin: 0;
                    display: block;
                    height: 100%;
                    width: 100%;
                    background-color: #000000;
                    padding: 40px;


                    .info-section {
                        margin-top: 15px;
                    }

                }
            }

            .element {
                margin: 5px 0;
            }

            .image {
                width: 30px;
            }

            .img-wrapper {
                height: 100%;
                width: 100%;
                overflow: hidden;

                .element.poster {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;

                }
            }

            .star-container {
                width: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                i {
                    color: #ffbd00;
                }
            }

        }
    }
}