@mixin card-style {
    .container {
        .bold {
            font-weight: 700;
        }

        .card {
            margin: 20px 0;
            padding: 10px;
            // width: 300px;

            .d-none {
                overflow: hidden;
                display: none;
            }

            &:hover {
                .img-wrapper {
                    display: none;
                }

                .info.d-none {
                    display: inline-block;
                    height: 400px;
                    width: 280px;
                    background-color: black;
                    padding: 25px;

                    .info-section {
                        margin-top: 15px;
                    }

                }
            }

            .element {
                margin: 5px 0;
            }

            .image {
                width: 30px;
            }

            .img-wrapper {
                height: 400px;
                width: 280px;
                overflow: hidden;

                .element.poster {
                    object-fit: cover;
                    margin: 0;
                    height: 400px;
                    width: 280px;
                }
            }

            .star-container {
                width: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                i {
                    color: #ffbd00;
                }
            }

        }
    }
}